@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
    .print-button,
    .go-back-button,
    .navigation-bar,
    .sidebar { /* Hide sidebar in print mode */
        display: none;
    }

    .container {
        margin-top: 0 !important; /* Remove top margin */
    }

    /* Remove all box shadows */
    * {
        box-shadow: none !important;
    }

    body {
        font-size: 9pt; /* Reduce the font size */
        width: 100%;
        position: relative;
        bottom: 0; /* Set bottom to 0 */
        box-sizing: border-box;
    }

    .comment-area {
        height: 10px;
        align-items: center;
        justify-content: center;
    }

    hr {
        margin-top: 8px;
    }

    .fees {
        height: 70px;
    }

    .date {
        padding-left: 10px;
    }

    .small-text {
        position: relative;
        bottom: 19%;
    }

    img {
        max-width: 100%; /* Prevent large images from breaking layout */
    }

    /* Set elements to 100% width */
    .content, .main, .main-content {
        width: 100%;
        margin: 0;
        float: none;
    }

    /* Set margins for printing */
    @page {
        margin: 0.5cm;
    }

    .below-table-content {
        font-size: 1em; /* Adjust as needed */
        padding: 0.15em; /* Adjust as needed */
        margin: 0.01em; /* Adjust as needed */
    }

    .below-table-content .grid {
        margin-bottom: 0.1em; /* Adjust as needed */
    }

    .below-table-content textarea {
        padding: 0.25em; /* Adjust as needed */
    }
}

.logo {
    /* Adjust as needed to control the size of the logo */
    width: 60px;
    height: 40px;
    position: relative;
    top: -5px; /* Adjust this value as needed */
}

.student-extraco-curricular {
    position: relative;
    top: 8px;
}

.centered-header {
    text-align: center;
}

.comment-area {
    border-bottom: 2px solid black;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.fees {
    height: 90px;
    border-bottom: 2px solid black;
}

.document-wrapper {
    padding: 0; /* No padding here */
    margin: 20px auto; /* Adjust as needed */
}

.centered-table {
    justify-content: center;
    border: 2px solid black; /* Main border here */
    box-sizing: border-box;
}

.bordered-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0; /* No bottom margin */
}

.bordered-table th, .bordered-table td {
    padding: 5px;
}

table.bordered-table {
    border-collapse: collapse;
}

.below-table-content {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding: 0px 20px 20px 20px; /* No top padding */
    margin-top: 0; /* No top margin */
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .bordered-table th, .bordered-table td {
        font-size: 0.8em; /* Adjust as needed */
        padding: 3px; /* Adjust as needed */
    }
}
