@tailwind base;
@tailwind components;
@tailwind utilities;


@media print {
    .print-button,
    .go-back-button,
    .dashboard-link,
    .logout-link {
        display: none;
    }
    body {
        font-size: 10pt;
        width: 100%;
        position: relative;
        bottom: 6%;
        box-sizing: border-box;
    }
    .comment-area {
        position: relative;
        bottom: 17px;
        height: 30px;
      }
  
      hr {
          margin-top: 8px;
      }
  
      .fees {
          height: 70px;
      }
  
      .date {
          padding-left: 10px;
      }
  
      .small-text {
         position: relative;
         bottom: 19%;
      }
      
      img {
          max-width: 100%; /* Prevent large images from breaking layout */
      }
      
      /* Set elements to 100% width */
      .content, .main {
          width: 100%;
          margin: 0;
          float: none;
      }
  
      /* Set margins for printing */
      @page {
          margin: 1cm;
      }
  
      .below-table-content {
          font-size: 1em; /* Adjust as needed */
          padding: 0.15em; /* Adjust as needed */
          margin: 0.01em; /* Adjust as needed */
      }
      .below-table-content .grid {
          margin-bottom: 0.1em; /* Adjust as needed */
      }
      .below-table-content textarea {
          padding: 0.25em; /* Adjust as needed */
      }  
    }

.centered-header {
    text-align: center;
}

.comment-area {
    border-bottom: 1px solid black;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.fees {
    height: 90px;
    border-bottom: 1px solid black;
}

.document-wrapper {
    padding: 0; /* No padding here */
    margin: 20px auto; /* Adjust as needed */
}

.centered-table {
    /* display: flex;  */
    justify-content: center;
    border: 3px solid black; /* Main border here */
    box-sizing: border-box;
}


.bordered-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0; /* No bottom margin */
}

.bordered-table th, .bordered-table td {
    border: 1px solid black;
    padding: 5px;
}

table.bordered-table {
    /* No border here */
    border-collapse: collapse;
}

.below-table-content {
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    padding: 0px 20px 20px 20px; /* No top padding */
    margin-top: 0; /* No top margin */
    box-sizing: border-box;
}

